/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */


html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	margin: 5%;
}



nav a {
	box-sizing: border-box;
	color: grey;
	text-decoration: none;
	display: inline-block;
	width: 3%;
	margin: 4%;
}

.logo {
	margin: 20px 20px -10px 20px;
	align-self: right;
}

.banner div {
	box-sizing: border-box;
	display: inline-block;

}

.mainheader {
	font-size: 65px;
	font-family: 'Bangers';
}

.getstarted {
	box-sizing: border-box;
	border: solid 1px black;
	margin: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.headerimage {
	box-sizing: border-box;
	display: inline-block;
	margin: 10px;

}

header {
	box-sizing: border-box;
	display: inline-block;
	width: 10%;
}

.top-header h2 {
	display: inline-block;
	width: 45%;
}

.top-content p {
	display: inline-block;
	width: 45%;
}

.middle-img {
	margin-top: 3%;
	margin-bottom: 3%;
}

.bottom-header h2 {
	display: inline-block;
	width: 30%;
	margin: 2% 0% 0% 0%;
}

.bottom-content p {
	display: inline-block;
	width: 30%;
	margin: 2% 0% 2% 0%;
}

.breakline {
	margin: 5% 0% 5% 0%;
}

.copyright {
	margin: 3%;
	text-align: center;
}